<div class="left-panel">
<section class="card analyzer-card">

  <h2 class="section-title">🔍 Analizador de JWT</h2>

  <!-- Campo principal -->
  <label class="label">Token JWT</label>
  <textarea
    rows="4"
    placeholder="Pega tu JWT aquí..."
    class="input-mono"
    [(ngModel)]="jwtText"
  ></textarea>

 <label class="label small">Clave para verificar (opcional)</label>
  <input
    id="secretInput"
    type="text"
    class="input-mono"
    placeholder="Secret o public key PEM"
  />


  <div class="main-actions">
    <button
      class="btn analyze-blue"
      (click)="analizarToken()"
      [disabled]="loading()"
    >
      <span *ngIf="!loading()">Analizar Token</span>
      <span *ngIf="loading()">⏳ Procesando...</span>
    </button>

    <button
      class="btn validate-green"
      (click)="validarFirma()"
      [disabled]="loading()"
    >
      Validar Firma
    </button>
  </div>


  <div class="phase-box">
    <button
      class="btn phase-menu-btn"
      (click)="showDetails.set(!showDetails())"
    >
      Analizar por Fase ▾
    </button>

    <div class="phase-options" *ngIf="showDetails()">
      <button (click)="analizarFase('lexico')" class="phase-option">
        🟦 Análisis Léxico
      </button>

      <button (click)="analizarFase('sintactico')" class="phase-option">
        🟩 Análisis Sintáctico
      </button>

      <button (click)="analizarFase('semantico')" class="phase-option">
        🟨 Análisis Semántico
      </button>
    </div>
  </div>

  <!-- ✅ Mensajes -->
  <div *ngIf="error()" class="error-box">{{ error() }}</div>

  <!-- ✅ Panel Resumen -->
  <div *ngIf="analyzedSummary" class="summary-panel">
    <app-output-panel
      [data]="analyzedData()?.payload_decodificado"
      title="Resumen del Payload"
    ></app-output-panel>
  </div>

  <div *ngIf="analyzedSummary" class="summary-panel">
    <app-output-panel
      [data]="analyzedData()?.header_decodificado"
      title="Resumen del Header"
    ></app-output-panel>
  </div>

  <!-- ✅ Salida Completa 
  <section class="container output-wide" *ngIf="analyzedData()">
    <div class="card detailed-card">
      <h3 class="card-title">Salida detallada</h3>
      <pre class="result-area">{{ analyzedData() | json }}</pre>
    </div>
  </section>
-->
</section>


<app-lexical-modal
  *ngIf="showModal()"
  [currentPhase]="activePhase()"
  [result]="phaseResults()[activePhase()]"
  (closed)="showModal.set(false)"
  (phaseChanged)="onPhaseChanged($event)"
></app-lexical-modal>





</div>
